#vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 125px;
    background-color: rgb(17, 221, 232); 
}

ul#vertical li a {
    display: block;
    color: rgb(22, 94, 209);
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul#vertical li a:hover {
    background-color: orange;
    color: white;
}

#horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
    overflow: hidden;
    background-color: #EEEEEE;
}

ul#horizontal li {
    float:left;
}

ul#horizontal li a {
    display: block;
    color: blue;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul#horizontal li a:hover {
    background-color: gray;
    color: white;
}