#sidenav a {
    position: absolute;
    left: -100px;
    transition: 0.7s;
    padding: 18px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 7px 7px 0;
}

#sidenav a:hover {
    left: 0;
}

#home {
    top: 160px;
    background-color: green;
}

#services {
    top: 220px;
    background-color: lightskyblue;
}

#feedback {
    top: 280px;
    background-color: red;
}

#contact {
    top: 340px;
    background-color: rgb(48, 2, 2);
}